mixin card(opts)
  .ui.fluid.card
    .image
      img.b-lazy(
        src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAABAABAAACADs=",
        data-src=opts.img, alt=opts.title
      )
    .content
      .header= opts.title
      .description= opts.description
    a.ui.bottom.attached.button(
      href=opts.href, target="_blank"
    )
      span Go!
      i.arrow.right.icon

doctype html5
html(lang="ja")
  head(prefix="og: http://ogp.me/ns#  fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0")
    meta(name="description", content="3846masa Apps")
    title 3846masa Apps
    //- OGP
    meta(property="og:title", content="3846masa Apps")
    meta(property="og:site_name", content="3846masa Apps")
    meta(property="og:type", content="website")
    meta(property="og:description", content="3846masa Apps")
    meta(property="og:url", content="https://app.mikumiku.moe")
    meta(property="og:image", content="https://app.mikumiku.moe/assets/3846masa.png")
    //- Twitter card
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@3846masa")
    meta(name="twitter:title", content="3846masa Apps")
    meta(name="twitter:description", content="3846masa Apps")
    meta(name="twitter:image", content="https://app.mikumiku.moe/assets/3846masa.png")
    meta(name="twitter:url", content="https://app.mikumiku.moe")
    //- CSS
    link(href="//cdn.jsdelivr.net/semantic-ui/2.1.8/semantic.min.css", rel="stylesheet")
    style.
      .main.container {
        padding-top: 2em;
      }
      .ui.cards {
        margin-top: 0;
      }
      .b-lazy {
        opacity: 0;
        transition: all 500ms;
      }
      .b-loaded {
        opacity: 1;
      }
    //- Script
    script(src="//cdn.jsdelivr.net/blazy/1.5.4/blazy.min.js")
    script.
      ;new Blazy();
  body
    .ui.main.container
      h1.ui.header 3846masa Apps
      .ui.doubling.stackable.three.column.grid.cards
        each product in products
          +card(product)
